.dark-movie-app {
  background-color: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;

  .search-header {
    text-align: center;
    margin: 20px 0;

    h1 {
      font-size: 2.5rem;
      color: #ff9900;
      span.momo-text {
        font-weight: bold;
        color: #ff6600;
      }
    }

    .search-container {
      position: relative;
      width: 80%;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 25px;
      background-color: #333;

      input {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        outline: none;
        background-color: #222;
        color: white;
        transition: all 0.3s ease;
      }

      input:focus {
        background-color: #444;
      }

      .clear-btn {
        position: absolute;
        right: 15px;
        background: none;
        border: none;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }

    .filters {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;

      select {
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        option {
          background-color: #444;
        }
      }
    }
  }

  .movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;

    .movie-card {
      background-color: #1a1a1a;
      padding: 20px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
        .movie-hover-effect {
          opacity: 0.7;
        }
      }

      .movie-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
        h2 {
          font-size: 1.5rem;
        }

        .release-date {
          font-size: 1rem;
          color: #ff6600;
        }
      }

      .original-title {
        font-size: 1rem;
        color: #ccc;
      }

      .genres-container {
        display: flex;
        gap: 10px;

        .genre-tag {
          background-color: #444;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 0.9rem;
          color: white;
        }
      }

      .movie-hover-effect {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }
  }
}
