.slider-main1{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: 100%;
    padding-top: 35px;
    background-color: black;
    display: flex;
    .img-slider1{
        padding-left: 60px;
        img{
          
            outline: none;
            width: 60%;
            background-size: cover;
            background-position: center;
            height: 400px;
            cursor: pointer;
        }
    }
    
}
.header-slider1{
    font-size: 40px;
    color: aqua;
    

}
    